<?xml version="1.0" ?>
<robot name="sobit_pro"
       xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <!-- Add Common Xacro: transmissions, colors -->
  <xacro:include filename="$(find sobit_pro_description)/urdf/common.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/materials.urdf.xacro" />
  
  <!-- Add URDF: links, joints -->
  <xacro:include filename="$(find sobit_pro_description)/urdf/base/base.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/body/plate.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/body/cover.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/back/back.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/wheel/wheel.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/arm/arm.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/hand/hand.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/head/head.urdf.xacro" />

  <xacro:include filename="$(find sobit_pro_description)/urdf/sensor/azure_camera.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/sensor/matrix.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/sensor/mic.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/sensor/lidar.urdf.xacro" />
  <!-- <xacro:include filename="$(find sobit_pro_description)/urdf/sensor/realsense_l515.urdf.xacro" /> -->
  <xacro:include filename="$(find sobit_pro_description)/urdf/sensor/realsense_d405.urdf.xacro" />
  
  <xacro:include filename="$(find urg_node)/urdf/hokuyo_ust.urdf.xacro" />
  <xacro:include filename="$(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro" />
  <!-- <xacro:include filename="$(find realsense2_description)/urdf/_l515.urdf.xacro" /> -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d405.urdf.xacro" />


  <!-- Activate Mobile-Base (true), Arm (true), Head (true) -->
  <xacro:arg name="enable_mb"   default="True" />
  <xacro:arg name="enable_arm"  default="True" />
  <xacro:arg name="enable_head" default="True" />

  <xacro:arg name="enable_gz"   default="False" />

  <xacro:arg name="robot_namespace" default="sobit_pro" />


  <!-- enable_mb: true, enable_arm: true, enable_head: true -->
  <xacro:if value="${$(arg enable_mb) and $(arg enable_arm) and $(arg enable_head)}">
    <xacro:base/>
    <xacro:plate prefix="plate" parent="base_link" />
    <xacro:wheel prefix="wheel" parent="plate_middle_link" />
    <xacro:cover prefix="cover" parent="plate_top_link" />
    <xacro:back  prefix="back"  parent="plate_top_link" />
    <xacro:head  prefix="head"  parent="back_base_link" />
    <xacro:mic   prefix="mic"   parent="back_base_link" />
    <xacro:arm   prefix="arm"   parent="plate_top_link" />
    <xacro:hand  prefix_hand="hand" prefix_finger="finger" parent="arm_wrist_tilt_link" />
    <xacro:lidar prefix="lidar" parent="plate_bottom_link" robot_namespace="$(arg robot_namespace)" />
    <xacro:azure_camera prefix="head_camera" parent="head_tilt_link" />
    <xacro:matrix prefix="matrix" parent="head_camera_base" />
    <!-- <xacro:realsense_l515 prefix="hand_camera" parent="arm_wrist_tilt_link" /> -->
    <xacro:realsense_d405 prefix="hand_camera" parent="arm_wrist_tilt_link" />
  </xacro:if>

  <!-- enable_mb: true, enable_arm: true, enable_head: false -->
  <xacro:if value="${$(arg enable_mb) and $(arg enable_arm) and not $(arg enable_head)}">
    <xacro:base/>
    <xacro:plate prefix="plate" parent="base_link" />
    <xacro:wheel prefix="wheel" parent="plate_middle_link" />
    <xacro:cover prefix="cover" parent="plate_top_link" />
    <xacro:arm   prefix="arm"   parent="plate_top_link" />
    <xacro:hand  prefix_hand="hand" prefix_finger="finger" parent="arm_wrist_tilt_link" />
    <xacro:lidar prefix="lidar" parent="plate_bottom_link" robot_namespace="$(arg robot_namespace)" />
    <!-- <xacro:realsense_l515 prefix="hand_camera" parent="arm_wrist_tilt_link" /> -->
    <xacro:realsense_d405 prefix="hand_camera" parent="arm_wrist_tilt_link" />
  </xacro:if>

  <!-- enable_mb: true, enable_arm: false, enable_head: true -->
  <xacro:if value="${$(arg enable_mb) and not $(arg enable_arm) and $(arg enable_head)}">
    <xacro:base/>
    <xacro:plate prefix="plate" parent="base_link" />
    <xacro:wheel prefix="wheel" parent="plate_middle_link" />
    <xacro:cover prefix="cover" parent="plate_top_link" />
    <xacro:back  prefix="back"  parent="plate_top_link" />
    <xacro:head  prefix="head"  parent="back_base_link" />
    <xacro:mic   prefix="mic"   parent="back_base_link" />
    <xacro:lidar prefix="lidar" parent="plate_bottom_link" robot_namespace="$(arg robot_namespace)" />
    <xacro:azure_camera prefix="head_camera" parent="head_tilt_link" />
    <xacro:matrix prefix="matrix" parent="head_camera_base" />
  </xacro:if>

  <!-- enable_mb: true, enable_arm: false, enable_head: false -->
  <xacro:if value="${$(arg enable_mb) and not $(arg enable_arm) and not $(arg enable_head)}">
    <xacro:base/>
    <xacro:plate prefix="plate" parent="base_link" />
    <xacro:wheel prefix="wheel" parent="plate_middle_link" />
    <xacro:cover prefix="cover" parent="plate_top_link" />
    <xacro:lidar prefix="lidar" parent="plate_bottom_link" robot_namespace="$(arg robot_namespace)" />
  </xacro:if>

  <!-- enable_mb: false, enable_arm: true, enable_head: true -->
  <xacro:if value="${not $(arg enable_mb) and $(arg enable_arm) and $(arg enable_head)}">
    <xacro:base/>
    <xacro:plate prefix="plate" parent="base_link" />
    <xacro:cover prefix="cover" parent="plate_top_link" />
    <xacro:back  prefix="back"  parent="plate_top_link" />
    <xacro:head  prefix="head"  parent="back_base_link" />
    <xacro:mic   prefix="mic"   parent="back_base_link" />
    <xacro:arm   prefix="arm"   parent="plate_top_link" />
    <xacro:hand  prefix_hand="hand" prefix_finger="finger" parent="arm_wrist_tilt_link" />
    <xacro:azure_camera prefix="head_camera" parent="head_tilt_link" />
    <xacro:matrix prefix="matrix" parent="head_camera_base" />
    <!-- <xacro:realsense_l515 prefix="hand_camera" parent="arm_wrist_tilt_link" /> -->
    <xacro:realsense_d405 prefix="hand_camera" parent="arm_wrist_tilt_link" />
  </xacro:if>

  <!-- enable_mb: false, enable_arm: true, enable_head: false -->
  <xacro:if value="${not $(arg enable_mb) and $(arg enable_arm) and not $(arg enable_head)}">
    <xacro:base/>
    <xacro:plate prefix="plate" parent="base_link" />
    <xacro:cover prefix="cover" parent="plate_top_link" />
    <xacro:arm   prefix="arm"   parent="plate_top_link" />
    <xacro:hand  prefix_hand="hand" prefix_finger="finger" parent="arm_wrist_tilt_link" />
    <!-- <xacro:realsense_l515 prefix="hand_camera" parent="arm_wrist_tilt_link" /> -->
    <xacro:realsense_d405 prefix="hand_camera" parent="arm_wrist_tilt_link" />
  </xacro:if>

  <!-- enable_mb: false, enable_arm: false, enable_head: true -->
  <xacro:if value="${not $(arg enable_mb) and not $(arg enable_arm) and $(arg enable_head)}">
    <xacro:base/>
    <xacro:plate prefix="plate" parent="base_link" />
    <xacro:cover prefix="cover" parent="plate_top_link" />
    <xacro:back  prefix="back"  parent="plate_top_link" />
    <xacro:head  prefix="head"  parent="back_base_link" />
    <xacro:mic   prefix="mic"   parent="back_base_link" />
    <xacro:azure_camera prefix="head_camera" parent="head_tilt_link" />
    <xacro:matrix prefix="matrix" parent="head_camera_base" />
  </xacro:if>

  <!-- enable_gz: true -->
  <xacro:if value="${$(arg enable_gz)}">
    <xacro:include filename="$(find sobit_pro_sim_description)/urdf/gazebo.urdf.xacro" />
    <xacro:gazebo/>
  </xacro:if>

</robot>
