<?xml version="1.0" ?>
<robot name="sobit_pro" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" xmlns:xacro="http://www.ros.org/wiki.xacro">
  <!-- common xacro -->
  <xacro:include filename="$(find sobit_pro_description)/urdf/common.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/materials.urdf.xacro" />
  <!-- links and joints -->
  <xacro:include filename="$(find sobit_pro_description)/urdf/base/base.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/wheel/wheel.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/arm/arm.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/gripper/gripper.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/head/head.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/sensor/azure_kinect.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/sensor/urg.urdf.xacro" />
  <!--
  <xacro:include filename="$(find sobit_pro_description)/urdf/arm/arm.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/gripper/gripper.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/head/head.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/pole/pole.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/sensor/sensor.urdf.xacro" />
  -->

  <xacro:base/>
  <xacro:wheel parent="base_link" />
  <xacro:arm prefix="arm" parent="base_link" />
  <xacro:gripper prefix_grip="gripper" prefix_finger="finger" parent="arm4_link" />
  <xacro:head prefix="head_camera" parent="base_link" />
  <xacro:azure_kinect prefix="head_camera" parent="head_camera_tilt_link" />
  <xacro:urg parent="base_link"/>
  <!--
  <stack_hexagons parent="base_link" />
  <xacro:arm prefix="arm" parent="plate_top_link"/>
  <xacro:hand prefix="hand_motor" parent="wrist_flex_link"/>
  <xacro:pole parent="plate_top_link"/>
  <xacro:xtion_motor prefix="xtion" parent="base_pole_link"/>
  <xacro:sensor_asus_xtion_pro parent="xtion_double_sided_tape_link"/>
  <xacro:mic parent="base_pole_link"/>
  <xacro:matrix parent="base_pole_link"/>
  <xacro:urg parent="base_link"/>
  -->
  
</robot>