<?xml version="1.0" ?>
<robot name="sobit_pro"
       xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <!-- Add Common Xacro: transmissions, colors -->
  <xacro:include filename="$(find sobit_pro_description)/urdf/common.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/materials.urdf.xacro" />
  
  <!-- Add URDF: links, joints -->
  <xacro:include filename="$(find sobit_pro_description)/urdf/base/base.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/body/plate.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/wheel/wheel.urdf.xacro" />
  <xacro:include filename="$(find sobit_pro_description)/urdf/sensor/lidar.urdf.xacro" />

  <xacro:include filename="$(find urg_node)/urdf/hokuyo_ust.urdf.xacro" />

  <xacro:base/>
  <xacro:plate prefix="plate" parent="base_link" />
  <xacro:wheel prefix="wheel" parent="plate_middle_link" />
  <xacro:lidar prefix="lidar" parent="plate_bottom_link" />

</robot>