<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki.xacro">

  <xacro:property name="M_PI" value="3.14159265359" />

  <macro name="position_joint_transmission" params="joint reduction">
    <transmission name="${joint}_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${joint}_actuator">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <mechanicalReduction>${reduction}</mechanicalReduction>
      </actuator>
    </transmission>
  </macro>
  
</robot>