<?xml version="1.0" encoding="UTF-8" ?>
<robot name="sobit_pro_controllers" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="controllers_DxLower" params="name enable_gz:=False robot_name:=sobit_pro">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>dynamixel_hardware/DynamixelHardware</plugin>
        <param name="usb_port">/dev/ttyUSB1</param>
        <param name="baud_rate">1000000</param>
        <!-- <param name="protocol_version">2.0</param> -->
        <!-- <param name="use_dummy">true</param> -->
      </hardware>
      <joint name="wheel_f_r_steer_joint">
        <param name="id">5</param>
        <command_interface name="position">
          <param name="min">-1.57</param>
          <param name="max">1.57</param>  <!-- 1.57 -->
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="wheel_f_l_steer_joint">
        <param name="id">6</param>
        <command_interface name="position">
          <param name="min">-1.57</param>
          <param name="max">1.57</param>  <!-- 1.57 -->
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="wheel_b_r_steer_joint">
        <param name="id">7</param>
        <command_interface name="position">
          <param name="min">-1.57</param>
          <param name="max">1.57</param>  <!-- 1.57 -->
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>  
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="wheel_b_l_steer_joint">
        <param name="id">8</param>
        <command_interface name="position">
          <param name="min">-1.57</param>
          <param name="max">1.57</param>  <!-- 1.57 -->
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>  
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="wheel_f_r_drive_joint">
        <param name="id">1</param>
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="wheel_f_l_drive_joint">
        <param name="id">2</param>
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="wheel_b_r_drive_joint">
        <param name="id">3</param>
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="wheel_b_l_drive_joint">
        <param name="id">4</param>
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
