<?xml version="1.0" encoding="UTF-8" ?>
<robot name="sobit_pro_controllers" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="controllers_DxUpper" params="name enable_gz:=False robot_name:=sobit_pro">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>dynamixel_hardware/DynamixelHardware</plugin>
        <param name="usb_port">/dev/ttyUSB0</param>
        <param name="baud_rate">1000000</param>
        <!-- <param name="use_dummy">true</param> -->
      </hardware>
      <joint name="arm_shoulder_1_tilt_joint">
        <param name="id">11</param>
        <command_interface name="position">
          <param name="min">-1.57</param>
          <param name="max">1.57</param>  <!-- 1.57 -->
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">1.57</param>
        </state_interface>  
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="arm_shoulder_2_tilt_joint">
        <param name="id">12</param>
        <command_interface name="position">
          <param name="min">-1.57</param>
          <param name="max">1.57</param>  <!-- 1.57 -->
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">-1.57</param>
        </state_interface>  
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="arm_elbow_upper_1_tilt_joint">
        <param name="id">13</param>
        <command_interface name="position">
          <param name="min">-1.57</param>
          <param name="max">1.57</param>  <!-- 1.57 -->
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">1.57</param>
        </state_interface>  
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="arm_elbow_upper_2_tilt_joint">
        <param name="id">14</param>
        <command_interface name="position">
          <param name="min">-1.57</param>
          <param name="max">1.57</param>  <!-- 1.57 -->
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">-1.57</param>
        </state_interface>  
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="arm_elbow_lower_tilt_joint">
        <param name="id">15</param>
        <command_interface name="position">
          <param name="min">-1.57</param>
          <param name="max">1.57</param>  <!-- 1.57 -->
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">-1.57</param>
        </state_interface>  
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="arm_elbow_lower_pan_joint">
        <param name="id">16</param>
        <command_interface name="position">
          <param name="min">-1.57</param>
          <param name="max">1.57</param>  <!-- 1.57 -->
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>  
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="arm_wrist_tilt_joint">
        <param name="id">17</param>
        <command_interface name="position">
          <param name="min">-1.57</param>
          <param name="max">1.57</param>  <!-- 1.57 -->
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">-1.57</param>
        </state_interface>  
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="hand_joint">
        <param name="id">18</param>
        <command_interface name="position">
          <param name="min">-1.57</param>
          <param name="max">0.0</param>  <!-- 1.57 -->
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>  
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="head_pan_joint">
        <param name="id">21</param>
        <command_interface name="position">
          <param name="min">-1.57</param>
          <param name="max">1.57</param>  <!-- 1.57 -->
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>  
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="head_tilt_joint">
        <param name="id">22</param>
        <command_interface name="position">
          <param name="min">-1.57</param>
          <param name="max">0.57</param>  <!-- 1.57 -->
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>  
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
