<?xml version="1.0" encoding="UTF-8" ?>
<!-- SOBIT PRO (Dynamixel Control) -->
<robot name="sobit_pro_controllers" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="controllers" params="name enable_gz:=False robot_name:=sobit_pro">

        <ros2_control name="${name}_arg" type="system">
            <hardware>
                <xacro:if value="${$(arg enable_gz)}">
                    <plugin>ign_ros2_control/IgnitionSystem</plugin>
                </xacro:if>
                <xacro:unless value="${$(arg enable_gz)}">
                    <plugin>dynamixel_hardware/DynamixelHardware</plugin>
                    <param name="usv_port">/dev/ttyUSB0</param>
                    <param name="baud_rate">3000000</param>
                </xacro:unless>
            </hardware>

            <!-- Position Drive: Arm -->
            <joint name="arm_shoulder_1_tilt_joint">
                <xacro:unless value="${$(arg enable_gz)}">
                    <param name="id">11</param>
                </xacro:unless>
                <command_interface name="position">
                    <param name="min">-1.570796327</param>
                    <param name="max">1.570796327</param>
                </command_interface>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="arm_shoulder_2_tilt_joint">
                <xacro:unless value="${$(arg enable_gz)}">
                    <param name="id">12</param>
                </xacro:unless>
                <command_interface name="position">
                    <param name="min">-1.570796327</param>
                    <param name="max">1.570796327</param>
                </command_interface>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="arm_elbow_upper_1_tilt_joint">
                <xacro:unless value="${$(arg enable_gz)}">
                    <param name="id">13</param>
                </xacro:unless>
                <command_interface name="position">
                    <param name="min">-1.570796327</param>
                    <param name="max">1.570796327</param>
                </command_interface>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="arm_elbow_upper_2_tilt_joint">
                <xacro:unless value="${$(arg enable_gz)}">
                    <param name="id">14</param>
                </xacro:unless>
                <command_interface name="position">
                    <param name="min">-1.570796327</param>
                    <param name="max">1.570796327</param>
                </command_interface>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="arm_elbow_lower_tilt_joint">
                <xacro:unless value="${$(arg enable_gz)}">
                    <param name="id">15</param>
                </xacro:unless>
                <command_interface name="position">
                    <param name="min">-1.570796327</param>
                    <param name="max">1.570796327</param>
                </command_interface>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="arm_elbow_lower_pan_joint">
                <xacro:unless value="${$(arg enable_gz)}">
                    <param name="id">16</param>
                </xacro:unless>
                <command_interface name="position">
                    <param name="min">-1.570796327</param>
                    <param name="max">1.570796327</param>
                </command_interface>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="arm_wrist_tilt_joint">
                <xacro:unless value="${$(arg enable_gz)}">
                    <param name="id">17</param>
                </xacro:unless>
                <command_interface name="position">
                    <param name="min">-1.570796327</param>
                    <param name="max">1.570796327</param>
                </command_interface>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="hand_joint">
                <xacro:unless value="${$(arg enable_gz)}">
                    <param name="id">18</param>
                </xacro:unless>
                <command_interface name="position">
                    <param name="min">-1.570796327</param>
                    <param name="max">0</param>
                </command_interface>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- Position Drive: Head -->
            <joint name="head_pan_joint">
                <xacro:unless value="${$(arg enable_gz)}">
                    <param name="id">21</param>
                </xacro:unless>
                <command_interface name="position">
                    <param name="min">-1.570796327</param>
                    <param name="max">1.570796327</param>
                </command_interface>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="head_tilt_joint">
                <xacro:unless value="${$(arg enable_gz)}">
                    <param name="id">22</param>
                </xacro:unless>
                <command_interface name="position">
                    <param name="min">-1.570796327</param>
                    <param name="max">0.57</param>
                </command_interface>
                <command_interface name="velocity"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
