<launch>
    <!-- Activate Mobile-Base (True), Arm (True), Head (True) -->
    <arg name="enable_mb"       default="True" />
    <arg name="enable_arm"      default="True" />
    <arg name="enable_head"     default="True" />

    <!-- Activate GUI (True) -->
    <arg name="enable_gui"      default="True" />

    <!-- Namespace -->
    <arg name="robot_namespace" value="sobit_pro"/>

    <!-- URDF File -->
    <arg name="urdf_file" 
         default="$(find xacro)/xacro
                 '$(find sobit_pro_description)/robots/sobit_pro.urdf.xacro'
                 enable_mb:=$(arg enable_mb)
                 enable_arm:=$(arg enable_arm)
                 enable_head:=$(arg enable_head)" />


    <group ns="$(arg robot_namespace)">
        <param name="robot_description" command="$(arg urdf_file)" />
        
        <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg enable_gui)" />
        <node name="joint_state_publisher"     pkg="joint_state_publisher"     type="joint_state_publisher"     unless="$(arg enable_gui)" />
        <node name="robot_state_publisher"     pkg="robot_state_publisher"     type="robot_state_publisher" />
        
        <node name="rviz" pkg="rviz" type="rviz" required="false" args="-d $(find sobit_pro_description)/rviz/display.rviz" />
    </group>
</launch>
