<?xml version="1.0" ?>
<robot name="sobit_pro"
       xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="wheel_transmission" params="prefix">

    <xacro:position_joint_transmission joint="${prefix}_f_l_steer_joint" reduction="1" />
    <xacro:position_joint_transmission joint="${prefix}_f_r_steer_joint" reduction="1" />
    <xacro:position_joint_transmission joint="${prefix}_b_l_steer_joint" reduction="1" />
    <xacro:position_joint_transmission joint="${prefix}_b_r_steer_joint" reduction="1" />

    <xacro:velocity_joint_transmission joint="${prefix}_f_l_drive_joint" reduction="1" />
    <xacro:velocity_joint_transmission joint="${prefix}_f_r_drive_joint" reduction="1" />
    <xacro:velocity_joint_transmission joint="${prefix}_b_l_drive_joint" reduction="1" />
    <xacro:velocity_joint_transmission joint="${prefix}_b_r_drive_joint" reduction="1" />

  </xacro:macro>
</robot>
