<launch>
  <!--SSD objects detection-->
  <group ns = "ssd_object_detect">
    <!--rosparam command="load" file="$(find ssd_node)/config/face_detect.yaml"/-->

    <param name="ssd_img_show_flag" type="bool" value="true"/>
    <param name="ssd_execute_default" type="bool" value="true"/>
    <param name="ssd_pub_result_image" type="bool" value="true"/>
    <param name="needs_time_stamp" type="bool" value="false"/>

    <param name="ssd_image_topic_name" type="str" value="/rgb/image_raw"/>
    <param name="ssd_cloud_topic_name" type="str" value="/points2"/>
    <param name="ssd_camera_frame_name" type="str" value="/base_footprint"/>
    <param name="ssd_camera_width_size" type="int" value="1280"/>

    <param name="ssd_inScaleFactor" type="double" value="1.0"/>
    <param name="ssd_confidenceThreshold" type="double" value="0.5"/>

    <param name="ssd_prototxt_name" type="str" value="face.prototxt"/>
    <param name="ssd_caffemodel_name" type="str" value="face.caffemodel"/>
    <param name="ssd_classNames_file" type="str" value="face_names.txt"/>

    <node pkg="ssd_node" type="ssd_node" name="ssd_node" output="screen"/>
    <node pkg="ssd_node" type="ssd_tf_broadcaster" name="ssd_tf_broadcaster" output="screen"/>
  </group>
</launch>