<launch>
    <!-- Activate Mobile-Base (True), Arm (True), Head (True) -->
    <arg name="enable_mb"       default="True" />
    <arg name="enable_arm"      default="True" />
    <arg name="enable_head"     default="True" />

    <!-- URG: lan-cable (True), usb-cable (False) -->
    <arg name="urg_lan"         default="True"/>

    <!-- RVIZ: launch (True), not launch (False) -->
    <arg name="enable_rviz"     default="True"/>

    <!-- Probability of bring-up sound -->
    <param name="sound_param"   value="95"/>

    <!-- Load Poses -->
    <include file="$(find sobit_pro_library)/launch/load_sobit_pro_pose.launch"/>

    <!-- Launch robot 1 -->
    <include file="$(find sobit_pro_bringup)/launch/common.launch">
        <arg name="enable_mb"       value="$(arg enable_mb)"/>
        <arg name="enable_arm"      value="$(arg enable_arm)"/>
        <arg name="enable_head"     value="$(arg enable_head)"/>
        <arg name="urg_lan"         value="$(arg urg_lan)"/>
        <arg name="enable_rviz"     value="$(arg enable_rviz)"/>
        <arg name="robot_namespace" value="sobit_pro"/>
    </include>

    <!-- Launch robot 2 -->
    <!-- <include file="$(find sobit_pro_bringup)/launch/common.launch">
        <arg name="enable_mb"       value="$(arg enable_mb)"/>
        <arg name="enable_arm"      value="$(arg enable_arm)"/>
        <arg name="enable_head"     value="$(arg enable_head)"/>
        <arg name="urg_lan"         value="$(arg urg_lan)"/>
        <arg name="enable_rviz"     value="$(arg enable_rviz)"/>
        <arg name="robot_namespace" value="sobit_pro_2"/>
    </include> -->

</launch>
