<launch>
    <!-- Enable Diagonal -->
    <arg name="enable_diagonal" default="True"/>

    <!-- Namespace -->
    <arg name="robot_namespace" default="sobit_pro" />

    <group ns="$(arg robot_namespace)">
        <!-- Launch Joy Node -->
        <node name="joy_node" pkg="joy" type="joy_node"/>

        <!-- Run PS3 Control for SOBIT PRO -->
        <node name="ps4_control" pkg="sobit_pro_bringup" type="sobit_pro_ps4_control.py" output="screen">
            <param name="enable_diagonal" type="bool" value="$(arg enable_diagonal)"/>
        </node>
    </group>
</launch>
