<?xml version="1.0" encoding="UTF-8" ?>
<robot name="azure_kinect"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="azure_kinect" params="prefix parent">

    <joint name="${prefix}_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}_base" />
      <origin xyz="0 0 0" rpy="0 0 -1.570796327" />
    </joint>

    <link name="${prefix}_base">
      <visual>
        <origin xyz="0 0 -0.06" rpy="1.570796327 0 1.570796327" />
        <geometry>
          <mesh filename="package://sobit_pro_description/meshes/sensor/azure_kinect.dae"/>
        </geometry>
      </visual>
    </link>

  </xacro:macro>
</robot>