<?xml version="1.0" encoding="UTF-8" ?>
<robot name="sobit_pro"
       xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="mic" params="prefix parent
                                  mic_mount_offset_xyz:='0.0 0.0 0.5400'
                                  mic_mount_visual_xyz:='0.017 0.015 0.12'
                                  mic_mount_visual_rpy:='0.0 0.0 ${-M_PI/2.0}'
                                  mic_on_mount_xyz:='0.0 0.005 0.280'
                                  mic_on_mount_rpy:='0.0 0.0 0.0'">

    <joint name="${prefix}_base_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}_base_link" />
      <origin xyz="${mic_mount_offset_xyz}" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="${prefix}_base_link">
      <visual>
        <origin xyz="${mic_mount_visual_xyz}" rpy="${mic_mount_visual_rpy}" />
        <geometry>
          <mesh filename="file://$(find sobit_pro_description)/meshes/sensor/mic_mount.stl" scale="1.0 1.0 1.0" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <origin xyz="-0.015 -0.0042 0.0005" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.03 0.3517 0.0655"/>
        </geometry>
        <material name="black" />
      </collision>
      <inertial>
        <origin xyz="-0.015 -0.0042 0.0005" rpy="0.0 0.0 0.0" />
        <!-- APPROX -->
        <mass value="0.15" />
        <inertia ixx="${1/12*0.15*(0.3517**2+0.0655**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.15*(0.03**2+0.0655**2)}"   iyz="0.0"
                 izz="${1/12*0.15*(0.03**2+0.3517**2)}" />
      </inertial>
    </link>


    <joint name="${prefix}_joint" type="fixed">
      <parent link="${prefix}_base_link" />
      <child link="${prefix}_link" />
      <origin xyz="${mic_on_mount_xyz}" rpy="${mic_on_mount_rpy}" />
    </joint>

    <link name="${prefix}_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2} 0.0 ${M_PI}" />
        <geometry>
          <mesh filename="file://$(find sobit_pro_description)/meshes/sensor/mic.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <origin xyz="${0.0+0.04911} -${0.0112/2} ${0.035+0.0266}" rpy="0.0 ${M_PI/2-25*M_PI/180} 0.0" />
        <geometry>
          <cylinder radius="${0.022/2}" length="0.281"/>
        </geometry>
        <material name="black" />
      </collision>
      <inertial>
        <origin xyz="${0.0+0.04911} -${0.0112/2} ${0.035+0.0266}" rpy="0.0 ${M_PI/2-25*M_PI/180} 0.0" />
        <mass value="0.235" />
        <inertia ixx="${1/2 *0.235*(0.022/2)**2}"              ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.235*(3*(0.022/2)**2+0.281**2)}" iyz="0.0"
                 izz="${1/12*0.235*(3*(0.022/2)**2+0.281**2)}" />
      </inertial>
    </link>

  </xacro:macro>
</robot>
