<?xml version="1.0" encoding="UTF-8" ?>
<robot name="urg"
  xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="urg" params="parent">

    <joint name="base_laser_joint" type="fixed">
      <parent link="${parent}" />
      <child link="base_laser_link" />
      <origin xyz="0.0 -0.22 0.1" rpy="0 0 ${-M_PI / 2}" />
    </joint>

    <link name="base_laser_link" />

  </xacro:macro>
</robot>
