<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="arm_transmission" params="prefix">
    <position_joint_transmission joint="${prefix}_shoulder_1_tilt_joint"    reduction="1" />
    <position_joint_transmission joint="${prefix}_shoulder_2_tilt_joint"    reduction="1" />
    <position_joint_transmission joint="${prefix}_elbow_upper_1_tilt_joint" reduction="1" />
    <position_joint_transmission joint="${prefix}_elbow_upper_2_tilt_joint" reduction="1" />
    <position_joint_transmission joint="${prefix}_elbow_lower_tilt_link"    reduction="1" />
    <position_joint_transmission joint="${prefix}_elbow_lower_pan_link"     reduction="1" />
    <position_joint_transmission joint="${prefix}_wrist_tilt_joint"         reduction="1" />
  </xacro:macro>
</robot>