<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="head_transmission" params="prefix">
    <position_joint_transmission joint="${prefix}_pan_joint"  reduction="1" />
    <position_joint_transmission joint="${prefix}_tilt_joint" reduction="1" />
  </xacro:macro>
</robot>